div{
    display:flex; 
    justify-content:center;
    align-content: center
}
    form{
    width: 50vw;
    align-items: center;
    background-color: rgb(241, 240, 237);
    border:2px solid rgb(235, 233, 233);
    border-radius: 5px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 10px;
}

label{
    width: 10vw !important;
    display: inline-block;
    text-align: right;
    font-size: 2vw;
    font-weight: bold;
    margin-right: 10px;
    font-family: 'Times New Roman';
    align-content: center;
}



input,textarea,select{
    height: 5vh;
    width: 25vw;
    margin-right: 10px;
    font-size: 2.5vh;
    font-family: 'Times New Roman';
}

textarea{
    height: 10vh;
}

.button{
    background-color: rgb(96, 187, 223);
    display:flex; 
    justify-content:center;
    align-content: center;
    font-weight: bold;
}
.button:hover{
    background-color: rgb(41, 138, 177);
}

.closeButton{
    font-weight: bold;
    border:none
}

.closeButton:hover{
    background-color: black;
    border-radius: 50%;
    color: white;
}

@media only screen and (max-width: 600px) {
    form{
        width: 100vw;
    }
    label{
        font-size: 15px;
    }
    input,textarea,select{
        height: 20px;
        width: 100px;
        margin-right: 10px;
        font-size: 10px;
        font-family: 'Times New Roman';
    }
    
}